.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-top:30px;
}

.topnav {
  background-color: #D8997F;
  overflow: hidden;
  text-align: center;
  margin-top:20px;
  word-spacing: 100px;
}

.topnav a {
  float:none;
  color: #f2f2f2;
  text-align: center;
  padding: 40px;
  text-decoration: none;
  font-size: 20px;
}
/*color change for hover on navigation*/
.topnav a:hover {
  background-color: #F2F2F2;
  color: black;
}

h2{
  font-size: 20px;
  color:#D8997F;
  font-family:Helvetica;
  margin-left: 5%;
  margin-top: 50px;
}

h3{
  font-size: 15px;
  color:black;
  font-family:Helvetica;
  margin-left: 50px;
  margin-right: 50px;
}
h4{
  font-size: 15px;
  color:#D8997F;
  font-family:Helvetica;
  font-style: italic;
  text-align: center;
  margin-top:50px;
}

h5{
  font-size: 20px;
  color:#D8997F;
  font-family:Helvetica;
  font-style: italic;
  text-align: center;
  margin-top:1px;
}

p{
  font-size: 20px;
  color:black;
  font-family:Helvetica;
  margin-top:20px;
  margin-left: 5%;
  margin-right: 5%;
}

.aboutteam {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top:20px;
 margin-left: 5%;
 margin-right: 5%;
}
/*two column setting in about page*/
.twocolumn{
  display:block;
  margin-top:20px;
  margin-left: 50px;
  margin-right: 50px;
}
.twocolumn > * {
  padding:1rem;
}

@media (min-width:600px) {
.twocolumn{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
}
/*three column setting in craft page*/
.threecolumn{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.woodimg{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width:25rem;
  min-width:18rem;
  margin: 10px;
  text-align: center;
}

ol{
  background-color: #D9C2B0;
  padding:25px;
  font-size: 20px;
  font-family:Helvetica;
  text-align:center;
}

.homeimg{
  width:100%;
  height:auto;
}
figcaption{
  background-color:#F2F2F2;
  padding:25px;
  font-size: 20px;
  font-family:Helvetica;
  color:#D8997F;
  text-align:center;
}

#footer{
  text-align: center;
  color: #D8997F;
  margin-top: 40px;
}

.row {
  padding: 0 2px;
}
.columns{
  margin-left: 50px;
  margin-right: 50px;
}
@media (min-width: 500px) {
  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /** grid-template-columns: repeat(3, 1fr); **/
  }
}

#productol{
  font-size: 15px;
  color:black;
  font-family:Helvetica;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #F2F2F2;
}

/* Button used to open the contact form*/
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Styles of the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 270px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/*  style for the submit button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* cancel button */
.form-container .cancel {
  background-color: red;
}

/* hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.instruction{
  width:90%;
  height:auto;
 padding:5%;
 text-align: center;
}

